<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="{{ .Site.Home.RelPermalink }}">
      {{ .Site.Title }}
    </a>
    
    {{ if or .Site.Menus.main .Site.IsMultiLingual }}
      <input type="checkbox" id="menu-toggle" />
      <label class="menu-button float-right" for="menu-toggle">
        <i class="fa-solid fa-bars fa-fw" aria-hidden="true"></i>
      </label>
      <ul class="navigation-list">
        {{- range .Site.Menus.main }}
          <li class="navigation-item">
            <a class="uiverse-button" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
        {{- end }}
        
        {{ if .Site.IsMultiLingual }}
          <!-- 语言切换功能已暂时隐藏 -->
        {{ end }}
      </ul>
    {{ end }}
  </section>
</nav>
